<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Chandra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbarContainer">
        <h1 class="navHead">Chandraprakash</h1>
        <ul class="navList">
            <li class="navItem"><a href="/home">Home</a></li>
            <li class="navItem"><a href="/about">About</a></li>
            <li class="navItem"><a href="/project">Project</a></li>
            <li class="navItem"><a href="/achivement">Achivement</a></li>

        </ul>
    </div>
    <!-- About -->

    <div id="about">
        <h2 class="section-title">About</h2>
        <div><img class="photo" src="/assest/myimage.jpeg" alt="myphoto"></div>
        <div>
            <h1>👋 Hello, Everyone !</h1>
            <p> I’m Chandraprakash Gupta — a TY BSc-IT student .
                Skilled in HTML, CSS, JavaScript, Node.js, Express.js, and MongoDB,
                I enjoy turning innovative ideas into impactful digital solutions.
                I’m also exploring AI/ML to integrate intelligent features into modern web experiences.
            </p>
            <p>🏆 Participated in hackathons, collaborated on full-stack projects, and developed solutions that solve
                real-life problems.</p>
            <p>🌱 The tech world evolves daily — and so do I. Always learning, experimenting, and adapting to deliver
                better solutions.</p>
        </div>
    </div>
    <!-- skill -->
    <h1 class="headskill">Skills</h1>

    <div class="skills-container">

        <div class="skills-slider">
            <div class="skill"> <img src="/assest/html.png" alt="HTML"> Html </div>
            <div class="skill"> <img src="/assest/CSS.png" alt="CSS"> CSS </div>
            <div class="skill"> <img src="/assest/Javascript.webp" alt="JS"> Javascript </div>
            <div class="skill"> <img src="/assest/React.png" alt="React"> React </div>
            <div class="skill"> <img src="/assest/nodejs.png" alt="Node"> Node.js </div>
            <div class="skill"> <img src="/assest/expressjs.png" alt="Express"> Express.js </div>
            <div class="skill"> <img src="/assest/c.jpg" alt="C"> C </div>
            <div class="skill"> <img src="/assest/C++.jpg" alt="C++"> C++ </div>
            <div class="skill"> <img src="/assest/Python.png" alt="Python"> Python </div>
            <div class="skill"> <img src="/assest/java.svg" alt="Java"> Java </div>
            <div class="skill"> <img src="/assest/mongodb.svg" alt="MongoDB"> MongoDB </div>

            <div class="skill"> <img src="/assest/html.png" alt="HTML"> Html </div>
            <div class="skill"> <img src="/assest/CSS.png" alt="CSS"> CSS </div>
            <div class="skill"> <img src="/assest/Javascript.webp" alt="JS"> Javascript </div>
            <div class="skill"> <img src="/assest/React.png" alt="React"> React </div>
            <div class="skill"> <img src="/assest/nodejs.png" alt="Node"> Node.js </div>
            <div class="skill"> <img src="/assest/expressjs.png" alt="Express"> Express.js </div>
            <div class="skill"> <img src="/assest/c.jpg" alt="C"> C </div>
            <div class="skill"> <img src="/assest/C++.jpg" alt="C++"> C++ </div>
            <div class="skill"> <img src="/assest/Python.png" alt="Python"> Python </div>
            <div class="skill"> <img src="/assest/java.svg" alt="Java"> Java </div>
            <div class="skill"> <img src="/assest/mongodb.svg" alt="MongoDB"> MongoDB </div>
        </div>
    </div>
    <br><br>

    <div class="skills-grid">
        <div class="skill-card"><i class="fa-brands fa-js"></i>
            <p>JavaScript</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-react"></i>
            <p>React</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-node-js"></i>
            <p>Node.js</p>
        </div>
        <div class="skill-card"><i class="fas fa-database"></i>
            <p>MongoDB</p>
        </div>
        <div class="skill-card"><i class="fab fa-java"></i>
            <p>Java</p>
        </div>
        <div class="skill-card"><i class="fas fa-server"></i>
            <p>Express</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-html5"></i>
            <p>HTML5</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-bootstrap"></i>
            <p>Bootstrap</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-css3-alt"></i>
            <p>CSS3</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-python"></i>
            <p>Python</p>
        </div>
        <div class="skill-card"><i class="fa-solid fa-code"></i>
            <p>C++</p>
        </div>
        <div class="skill-card"><i class="fa-solid fa-c"></i>
            <p>C</p>
        </div>
        <div class="skill-card"><i class="fa-solid fa-database"></i>
            <p>MySQL</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-git-alt"></i>
            <p>Git</p>
        </div>
        <div class="skill-card"><i class="fa-brands fa-github"></i>
            <p>GitHub</p>
        </div>
    </div>

    <!-- Footer  -->
    <div id="footers">
        <div class="socailmedia">
            <div class="linkedin"><a href="https://www.linkedin.com/in/chandraprakash-gupta-955581349"><img
                        src="/assest/linkedin.png" alt="linkedin" class="links"></a></div>
            <div class="github"><a href="https://github.com/chandraprakashGupta54"><img src="/assest/github.png"
                        alt="github" class="links"></a></div>
            <div class="email"><a href="mailto:guptachandraprakash54@gmail.com"><img src="/assest/gmail.png" alt="email"
                        class="links"></a></div>
        </div><br><br>
        <h3>© 2025 Chandraprakash Gupta | All rights reserved</h3>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script href="view/app.js"></script>
</body>

</html>