<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Chandra</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Navbar -->
    <div class="navbarContainer">
        <h1 class="navHead">Chandraprakash</h1>
        <ul class="navList">
       <li class="navItem"><a href="/home">Home</a></li>
            <li class="navItem"><a href="/about">About</a></li>
            <li class="navItem"><a href="/project">Project</a></li>
            <li class="navItem"><a href="/achivement">Achivement</a></li>
            
        </ul>
    </div>
<!-- Home -->
    <div id="home">
        <div class="detail">
                        <p1 class="homepara">Web Developer • Open for internships</p1>
            <h1 class="homeHead1">Hello  , I'm </h1>
            <h1 class="homeHead2">Chandraprakash Gupta</h1>
            <p1 class="homepara">TY-BSC-IT | Web Developer | AI / Ml Enthusiast.</p1>
            <div class="Homebtn">
                <button><a href="/project">View My Work</a> </button> 
                <button><a href="mailto:guptachandraprakash54@gmail.com">Contact Me</a></button>
            </div>
            
        </div>
        <div class="resume">
            <img id="myphoto" src="/assest/myimage.jpeg" alt="profilephoto">
            <h1>Web Developer</h1>
            <p class="loc">Mumbai</p>
            <button><a class="cvv"href="https://drive.google.com/file/d/1kT5YcUTKbFiBV7KPmkC0yttXOmEvr3X-/view?usp=drivesdk">  View Resume →</a></button>
        </div>

    </div>


<!-- Footer  -->
    <div id="footers">
        <div class="socailmedia">
            <div class="linkedin"><a href="https://www.linkedin.com/in/chandraprakash-gupta-955581349"><img
                        src="/assest/linkedin.png" alt="linkedin" class="links"></a></div>
            <div class="github"><a href="https://github.com/chandraprakashGupta54"><img src="/assest/github.png"
                        alt="github" class="links"></a></div>
            <div class="email"><a href="mailto:guptachandraprakash54@gmail.com"><img src="/assest/gmail.png" alt="email"
                        class="links"></a></div>
        </div><br><br>
        <h3>© 2025 Chandraprakash Gupta | All rights reserved</h3>

    </div>

    <script href="view/app.js">

    </script>
</body>

</html>