<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Chandra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
   <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbarContainer">
        <h1 class="navHead">Chandraprakash</h1>
        <ul class="navList">
            <li class="navItem"><a href="/home">Home</a></li>
            <li class="navItem"><a href="/about">About</a></li>
            <li class="navItem"><a href="/project">Project</a></li>
            <li class="navItem"><a href="/achivement">Achivement</a></li>

        </ul>
    </div>
<!-- project-->
  
 <div class="project">
<h2 class="section-title"> Project</h2>    
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assest/foodlove.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
     
        <button type="button" class="btn btn-danger"><a style="text-decoration: none; color:white"href="https://foodlove.onrender.com">View</a></button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assest/Ecobrige.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-danger"><a style="text-decoration: none; color:white"href="https://ecobridge-q2m1.onrender.com/home">View</a></button>
       
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assest/Notewise.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
   
                <button type="button" class="btn btn-danger"><a style="text-decoration: none; color:white" href="https://notewise-lyet.onrender.com/">View</a></button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
  
<!-- Footer  -->
    <div id="footers">
        <div class="socailmedia">
            <div class="linkedin"><a href="https://www.linkedin.com/in/chandraprakash-gupta-955581349"><img
                        src="/assest/linkedin.png" alt="linkedin" class="links"></a></div>
            <div class="github"><a href="https://github.com/chandraprakashGupta54"><img src="/assest/github.png"
                        alt="github" class="links"></a></div>
            <div class="email"><a href="mailto:guptachandraprakash54@gmail.com"><img src="/assest/gmail.png" alt="email"
                        class="links"></a></div>
        </div><br><br>
        <h3>© 2025 Chandraprakash Gupta | All rights reserved</h3>

    </div>

    <script href="view/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>

</html>